# PyCharm files and python cached files
.idea/*
__pycache__/*
*.pyc

# Local configs
utils/configs.py

# Local env files
.env.local
.env.*.local
env/*
venv/*

# Serverless compiled files
.serverless/*

# Installed requirements
node_modules/*
*/node_modules/

# Config files
config/*
.DS_Store
node_modules
/dist

# Installed components
.installed.cfg
*.egg
*.egg-info/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
